<div class="h2">{{workout.name}}</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Exercise</th>
      <th>Description</th>
      <th>Set</th>
      <th>Reps/time</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody></tbody>
  <tbody>
    <tr *ngFor="let exercise of workout.exercises">
      <td>{{exercise.name}}</td>
      <td>{{exercise.description}}</td>
      <td>{{exercise.set}}</td>
      <td>{{exercise.reps}}</td>
      <td>
        <a *ngIf="isLoggedIn" routerLink="/workout/{{workout._id}}/{{exercise._id}}" class="btn btn-info" type="button">
          Activity log
        </a>
      </td>
      <td>
        <div *ngIf="isLoggedIn" class="row">
          <form (ngSubmit)="onRemoveExercise(exercise._id)">
            <button class="btn btn-danger" type="submit">
              X
            </button>
          </form>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <button *ngIf="isLoggedIn" class="btn btn-success ml-3" type="button" data-toggle="modal" data-target="#addExerciseModal">
    Add exercise
  </button>
</div>

<!-- modal view -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="addExerciseModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addExercise">
          Add exercise
        </h4>
        <button class="close" type="button" data-dismiss="modal">
          <span aria-hidden="true">×</span><span class="sr-only">
            Close
          </span>
        </button>
      </div>
      <div *ngIf="formError" class="alert alert-danger" role="alert">
        {{ formError }}
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onExerciseSubmit()">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="addExercise.name" name="name" placeholder="Name" type="text"
              required="required" />
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="addExercise.description" name="description" placeholder="Description"
              type="text" required="required">
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="addExercise.set" name="set" placeholder="Set" type="number"
              required="required">
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="addExercise.reps" name="reps" placeholder="Reps" type="text"
              required="required">
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#addExerciseModal">
              Add exercise
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>