<nav class="navbar bg-primary fixed-top navbar-toggleable-md navbar-inverse">
  <a class="navbar-brand" routerLink="">MegaCorp Workout</a>
  <div *ngIf="isLoggedIn else login_content" class="row">
    <p id="nameOfUser">{{user.name}}</p>
    <button class="btn btn-danger" (click)=logOut()>Log out</button>
  </div>
  <ng-template #login_content>
    <form (ngSubmit)="onLoginSubmit()" class="form-inline">
      <input class="form-control" [(ngModel)]="user.email" name="email" type="email" placeholder="Email" aria-label="Search">
      <input class="form-control" [(ngModel)]="user.password" name="password" type="password" placeholder="Password" aria-label="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>
    <a class="btn btn-success" routerLink="/register">Register</a>
  </ng-template>
</nav>
<div class="mb-4"></div>